<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirstCocoaPodaExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>438FD1191EE815F60036DF79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>438FD12D1EE815F70036DF79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>438FD1381EE815F70036DF79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
